.detail-doctor-container {
  height: 500px;
  margin: 50px 120px;

  .detail-doctor-intro {
    display: flex;
    padding: 10px 20px;
    height : 150px;

    .content-left {
      width              : 20%;
      width              : 120px;
      height             : 120px;
      border-radius      : 50%;
      border             : 2px solid #e0e0e0;
      margin             : 15px 20px;
      background-position: center center;
      background-repeat  : no-repeat;
      background-size    : cover;
      objectfit          : "cover";
    }

    .content-right {
      width  : 65%;
      padding: 5px 10px;
      padding: 5px;

      .title {
        font-size  : 27px;
        font-weight: bold;
        padding    : 5px 10px;
        margin     : 5px 0;
      }

      .content {
        margin   : 7px 0;
        font-size: 14px;
        padding  : 5px 10px;
        opacity  : 0.7;
      }
    }
  }

  .detail-doctor-schedule {}

  .detail-doctor-info {
    position        : relative;
    left            : 50%;
    right           : 50%;
    margin-left     : -50vw;
    margin-right    : -50vw;
    width           : 100vw;
    padding         : 40px 100px;
    background-color: #f8f8f8;
    border-top      : 1px solid rgba(174, 174, 174, 0.3);
    border-bottom   : 1px solid rgba(174, 174, 174, 0.3);
    box-sizing      : border-box;

    h2 {
      font-weight: 600;
      font-size  : 18px;
    }

    ul {
      list-style: disc;
      padding   : 10px 40px;
      opacity   : 0.8;
    }
  }

  .detail-doctor-comment {}
}