.detail-specialty-container {


    .description {
        margin: 0 155px;

        h2 {
            font-size    : 20px;
            color        : #000;
            margin-bottom: 16px;
            font-weight  : 600;
            padding      : 10px 0 0;
        }

        p {
            margin-bottom: 16px;
            font-weight  : 600;
            font-size    : 14px;
        }

        ul {
            padding-left : 20px;
            margin-bottom: 16px;

            li {
                list-style-type: disc;
                margin-bottom  : 8px;
                font-size      : 14px;
            }
        }
    }

    .detail-specialty-content {
        margin          : 20px 155px;
        background-color: rgba(0, 0, 0, 0.00);

        .specialty-detail {
            min-height: auto;
            margin    : 15px 0;
            border    : 1px solid rgba(174, 174, 174, 0.3);
            width     : 100%;
            display   : flex;

            .content-left {
                width       : 50%;
                border-right: 1px solid rgba(174, 174, 174, 0.3);

                .doctor-info-specialty {
                    .profile-doctor {
                        .detail-doctor-intro {
                            display   : flex !important;
                            margin-top: 15px 20px !important;

                            .content-left {
                                width              : 100px;
                                height             : 100px;
                                border-radius      : 50%;
                                border             : 2px solid #e0e0e0;
                                margin             : 15px 20px;
                                background-position: center center;
                                background-repeat  : no-repeat;
                                background-size    : cover;
                                aspect-ratio       : 1 / 1;
                            }

                            .content-right {
                                width     : 100%;
                                width     : 50%;
                                margin-top: 0px;
                                padding   : 10px 20px;
                                border    : none;
                                text-align: justify;
                                flex      : 1;

                                .title {
                                    color         : #45c3d2;
                                    font-size     : 18px;
                                    font-weight   : 700;
                                    text-transform: uppercase;
                                    cursor        : pointer;
                                    margin        : 5px -10px;
                                }
                            }

                        }
                    }
                }
            }

            .content-right {
                width         : 50%;
                flex-direction: column;
                gap           : 5px;

                .doctor-schedules {
                    margin : 0;
                    padding: 0;

                    .schedule-container {
                        margin : 0;
                        padding: 10px 20px;


                        .schedule-time {
                            margin-top: 15px;

                        }
                    }
                }

                .doctor-info {
                    width: 100%;

                    .doctor-info-container {
                        width  : inherit;
                        margin : 20px 0;
                        flex   : 1 1;
                        height : 100%;
                        border : none;
                        display: block;

                        .content-top {
                            border-top: 1px solid rgba(174, 174, 174, 0.3);
                        }
                    }
                }
            }
        }
    }
}