.modal-user-container {
  .modal-content {
    .modal-header {
      text-align: center;

      button {
        background: transparent !important;
        border: none;
        color: #fff;
        font-size: 20px;
        padding: 0;
        cursor: pointer;

        &:hover {
          opacity: 0.8;
        }
      }
    }
  }

  .modal-user-body {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    .input-container {
      display: flex;
      flex-direction: column;
      margin-bottom: 15px;
      width: calc(50% - 10px);

      label {
        margin-bottom: 5px;
        font-weight: 500;
      }

      input {
        border-radius: 3px;
        height: 30px;
        border: 1px solid #ccc;
        padding: 0 10px;
        width: 100%;

        &:focus {
          outline: none;
          border-color: #007bff;
        }
      }
      &:last-child {
        width: 100%;
        margin-right: 0;
      }
    }
  }
}
