.user-container {
  .title {
    font-weight: bold;
    text-align: center;
    color: #007bff;
  }

  .add-user {
    button {
      border: none;
      border-radius: 5px;
      padding: 7px 10px;
      background-color: #28a745;
      transition: background-color 0.3s ease, transform 0.2s ease-out;
    }
    &:hover {
      background-color: #218838;
      transform: scale(1.2);
    }

    i {
      font-size: 16px;
      margin: 0 2px 0 0;
    }

    span {
      font-size: 16px;
      font-weight: 700;
    }
  }

  .user-table {
    .table {
      border-radius: 10px;
      overflow: hidden;

      thead {
        background-color: #007bff !important;
        color: white;

        th {
          padding: 10px;
          font-weight: bold;
        }
      }

      tbody {
        td:hover {
          background-color: #f1f1f1;
        }
      }

      .btn {
        font-size: 14px;
        padding: 5px 7px;
        border-radius: 5px;
        border: none;
        outline: none;
        background: transparent;
        margin: 0 5px;

        i {
          font-size: 20px;
        }
      }

      .btn-edit {
        transition: background-color 0.3s ease, transform 0.2s ease-out;
        &:hover {
          background-color: transparent !important;
          transform: scale(1.2);
        }
        color: #ffc107;
      }

      .btn-delete {
        transition: transform 0.2s ease-out;
        &:hover {
          background-color: transparent !important;
          transform: scale(1.2);
        }

        color: #dc3545;
      }
    }
  }
}
