.doctor-manage-container {
  padding: 10px 20px;

  .doctor-manage-title {
    text-transform: uppercase;
    margin-top    : 15px;
    margin-bottom : 15px;
    font-weight   : 600;
    font-size     : 1.5rem;
    text-align    : center;
    color         : #0071ba;
  }

  .doctor-manage-editor {}

  .button {
    display        : flex;
    justify-content: end;

    .save-info {
      margin-top   : 20px;
      padding      : 5px;
      color        : white;
      border       : none;
      border-radius: 8px;
      cursor       : pointer;
      font-size    : 16px;
      transition   : background-color 0.3s ease, transform 0.2s ease;

      &:hover {
        transform: scale(1.05);
      }

      &:active {
        transform: scale(0.97);
      }
    }
  }
}

.custom-html-style {
  ul {
    list-style-type: disc;
  }
}