.doctor-manage-container {
  padding: 10px 20px;
  .doctor-manage-title {
    text-align: center;
    font-size: 20px;
    margin: 10px 0;
    font-weight: 600;
  }
  .doctor-manage-editor {
  }
  .button {
    display: flex;
    justify-content: end;
    .save-info {
      margin-top: 20px;
      padding: 5px;
      background-color: #2563eb;
      color: white;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      font-size: 16px;
      transition: background-color 0.3s ease, transform 0.2s ease;
      &:hover {
        background-color: #1d4ed8;
        transform: scale(1.05);
      }
      &:active {
        transform: scale(0.97);
      }
    }
  }
}

.custom-html-style {
  ul {
    list-style-type: disc;
  }
}
