div._loading_overlay_wrapper {
    position: unset;
    z-index : 10000;
    width   : 100vh !important;
    height  : 100vh !important;
}

.manage-patient-container {
    padding: 0 15px;

    .manage-patient-title {
        text-transform: uppercase;
        margin-top    : 15px;
        margin-bottom : 15px;
        font-weight   : 600;
        font-size     : 1.5rem;
        text-align    : center;
        color         : #0071ba;
    }

    input {
        &:focus {
            outline   : none;
            box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
        }
    }
}